{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Apna_PostSITE</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
		<link rel="icon" href="{% static './images/iconImage.png' %}">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">
						<h1>This is<br />
						Apna_PostSITE</h1>
						<p>site designed by <a target="_blank" class="text-decoration-none" href="https://web.facebook.com/profile.php?id=100072216951370">JABER RIYAN</a> for <a class="text-decoration-none" href="https://html5up.net"></a><br />
						released on github <a class="text-decoration-none" href="https://html5up.net/license">GitHub Repository(explore)</a>.</p>
						<ul class="actions">
							<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
					<header id="header">
						<a href="{% url "homepage" %}" class="logo">Massively</a>
					</header>

				<!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a class="text-decoration-none" href="{% url "userPost" request.user.id %}">My Post</a></li>
							<li><a class="text-decoration-none" href="{% url "addPost" %}">Add Post</a></li>
							<li><a class="text-decoration-none" href="{% url "homepage" %}">Home</a></li>
						</ul>
						<ul class="icons">
                            <li><a class="text-decoration-none" href="{% url "profile" %}" class=""><span class="label">Profile</span></a></li>
                            <li><a class="text-decoration-none" href="{% url "logout" %}" class=""><span class="label">Logout</span></a></li>
						</ul>
					</nav>

                    <!--Message Code-->

                    {% if messages %}
                    {% for message in messages %}
                    <script>

                        document.addEventListener('DOMContentLoaded', function(){
                            Swal.fire({
                                icon: "{{message.tags}}",
                                title: "Status",
                                text: "{{message}}",
                            });
                        });
                    
                    </script>
                    {% endfor %}
                    {% endif %}
                    

				<!-- Main -->


				
				{% block content %}
				<div class="border border-2 m-auto bg-white" style="width: 1152px;">
					<h1 class="text-center text-secondary fw-bold">Welcome Your Dashboard. Select from above option. That's your wish 😊</h1>
				</div>


                    
                    {% endblock content %}

				<!-- Footer -->
					<footer id="footer">
						<section class="split contact">
                            <h1 class="p-3">About Us</h1>
							<section class="alt">
								<h3>Address</h3>
								<p>1234 XXXXX #87257<br />
								XXXXX</p>
							</section>
							<section>
								<h3>Phone(BD)</h3>
								<p><a class="text-decoration-none" href="#">01709050934, 01935067220</a></p>
							</section>
							<section>
								<h3>Email</h3>
								<p><a  class="text-decoration-none" href="#">jaberriyan357@gmail.com</a></p>
							</section>
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a target="_blank" href="https://www.linkedin.com/in/jaber-riyan-873329296/" class="icon brands alt fa-linkedin"><span class="label">Twitter</span></a></li>

									<li><a target="_blank" href="https://web.facebook.com/profile.php?id=100072216951370" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>

									<li><a target="_blank" href="https://www.instagram.com/jaber_._riyan/" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>

									<li><a target="_blank" href="https://github.com/Jaber-riyan" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>© {% now "Y" %} </li><li>Modified by: <a class="text-decoration-none" target="_blank" href="https://web.facebook.com/profile.php?id=100072216951370">Jaber Ahmed Riyan</a></li></ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

	</body>
</html>