{% extends "dashboard.html" %}


{% block content %}

<div id="main">
	<!-- Posts -->
    <p class="fw-bold fs-3">Your All Post 📖 <br>
	Total Found Post : {{posts | length}}</p>
		<section class="posts">
			
			{% for post in posts %}
			
			<article>
				<header>
					<span class="date">{{post.created_on}}</span>
					<h2><a href="#">Caption : {{post.caption}}</a></h2>
				</header>
				<a href="#" class="image fit"><img src="{{post.post_image.url}}" alt="" /></a>
				<p class="text-dark fw-bold fs-5 bg-primary-subtle p-3">Post Author : {{post.user.username}} (You)</p>
				<h5>
					<br><h5 class="text-decoration-none btn btn-primary">👍 Like</h5>
					<b>{{post.post_like}}</b>_____<h5 class="text-decoration-none btn btn-danger">👎 Dislike</h5>
					<b>{{post.post_dislike}}</b>
				</h5>
				<p> {{ post.body|truncatewords:100 }} <a class="text-decoration-none text-dark" href="{% url "detailview" post.id %}"><b>see more...</b></a></p>
				<ul class="actions special">
					<li><a href="{% url "editpost" post.id %}" class="button bg-success text-white">Edit</a></li>
					<li><a href="{% url "deletepost" post.id %}" class="button bg-danger text-white">Delete</a></li>
				</ul>
			</article>

			{% endfor %}
		</section>
		
</div>

{% endblock content %}



