<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="background-color: antiquewhite">
    <div style="padding: 20px">
      <h3>Thanks for creating an account on our platform.</h3>
      <p>Click the below link to verify your account</p>

      <p>
        Confirmation Link :
        <a href="{{confirm_link}}" target="_blank">{{confirm_link}}</a>
      </p>
      <h4 style="color: rebeccapurple;">Apna PostSite</h4>
    </div>
  </body>
</html>
