{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="main">
	<!-- Posts -->
	<p class="fw-bold fs-3">All Post 📖 <br>
    Total Found Post : {{posts | length}}</p>
		<section class="posts">
			
			{% for post in posts %}
			
			<article>
				<header>
					<span class="date">{{post.created_on}}</span>
					<h2><a href="{% url "detailview" post.id %}">Caption : {{post.caption}}</a></h2>
				</header>
				<img class="image fit" src="{{post.post_image.url}}" alt="" />
				<p class="text-dark fw-bold fs-5 bg-primary-subtle p-3">Post Author : {{post.user.username}}</p>
				<h5 class="border border-2 border-primary"><a class="text-decoration-none btn btn-primary" href="{% url 'like' post.id post.user.id %}">👍 Like</a> <a href="{% url "allLikeUser" post.id %}">{{post.post_like}}</a>_____<a class="btn btn-danger" href="{% url "dislike" post.id post.user.id %}">👎 Dislike</a> <a href="{% url "allDislikeUser" post.id %}">{{post.post_dislike}}</a></h5><br>
				<h5>Description : </h5>
				<p class="fs-5">{{ post.body|truncatewords:10 }} <a class="text-decoration-none text-dark" href="{% url "detailview" post.id %}"><b>see more...</b></a></p>
				{% comment %} <ul class="actions special">
					<li><a href="{% url "detailview" post.id %}" class="button">Post Detail</a></li>
				</ul> {% endcomment %}
			</article>

			{% endfor %}
		</section>
		
</div>

{% endblock content %}