{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div style="width:85%; margin:auto; background-color: white;">
    <div style="padding: 20px;">
        <form method="post" novalidate>
            <h1>Login</h1>
            {% csrf_token %}
            <!-- {{form | crispy }} -->
            {% for fm in form%}
            <div>
                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} 
            </div>
            {% endfor %}
            <br>
            <button class="btn btn-warning mb-4 text-dark fw-bold">Login</button>
        </form>
    </div>
</div>

{% endblock content %}